streamlit
pypdf
langchain
langchain-community
langchain-openai
langchain-chroma
langchain-classic
langchain-text-splitters
langchain-core
openai
chromadb
python-dotenv
tiktoken
pysqlite3-binary
streamlit-extras
